@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Список фильмов на вечер</h1>
    <p>
        <a class="btn btn-outline-primary" asp-controller="EveningMovie" asp-action="Index">Открыть список</a>
        <a class="btn btn-primary" asp-controller="EveningMovie" asp-action="Create">Предложить фильм</a>
    </p>
</div>
